@mixin landing-page-background() {
  background-color: Gray10;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    left: -16px;
    top: 0;
    right: -16px;
    bottom: 0;
    background: Gray10;
    z-index: -1;
  }
}
